// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
// 赏
#rewardButton span{
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
}

//markdown 左竖线
blockquote {
  border-left: 3px solid skyblue;
}

.sidebar {
    background: url(https://blog-1257878287.cos.ap-chengdu.myqcloud.com/sildeBarBg.jpg) no-repeat !important;
    background-size: cover !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}
